.personal-reservation-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

/* Add a container for the reservation cards */
.reservation-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Adjust as needed */
}

#content1 {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about_text {
    color: #333;
    margin-bottom: 10px;

}

#about_text b {
    display: block;
    margin-bottom: 5px;
}

